@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Permanent+Marker&family=Ysabeau&display=swap');

.bg-transparent-slate{
    background: rgba(189, 189, 189, 0.397)
}
.modal-hw{
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
}