@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Permanent+Marker&family=Ysabeau&display=swap');

.bg-transparent-slate{
    background: rgba(189, 189, 189, 0.397)
}
.modal-hw{
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
}
.about-card-w{
    width: clamp(20% , 900px, 98%);
}
.edit-card-w {
    width: clamp(20%, 1000px, 99%);
}
.none {
    display: none;
    /* background-color: #2ff1ff; */
}
.landing-bg{
    background: linear-gradient( to bottom, hsl(0, 100%, 75%),hsl(50, 100%, 75%),hsl(100, 100%, 75%), hsl(150, 100%, 75%), hsl(200, 100%, 75%),hsl(250, 100%, 75%),hsl(300, 100%, 75%),hsl(350, 100%, 75%));
}
.fav-card:hover > span {
    @apply text-green-400
}