@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Kdam+Thmor+Pro&display=swap');

@font-face {
  font-family: "cubano";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/Cubano.ttf") format("ttf");
}

*{
  font-family: var(--kdam-pro);
}

:root {
  --kdam-pro: 'Kdam Thmor Pro', sans-serif;
  --delius: 'Delius Unicase', cursive;
}

.bg-transparent-slate {
  background: rgba(189, 189, 189, 0.397);
}
.modal-hw {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
}
.about-card-w {
  width: clamp(20%, 900px, 98%);
}
.edit-card-w {
  width: clamp(20%, 1000px, 99%);
}
.none {
  display: none;
  /* background-color: #2ff1ff; */
}
.landing-bg-1 {
  background: linear-gradient(to bottom, #3535354b, #35353577),
    url("../public//landing-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.landing-bg-2 {
  background: linear-gradient(to bottom, #353535a6, #35353577),
  url("../public//book.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.fav-card:hover > span {
  @apply text-green-400;
}
.bg-card {
  background: linear-gradient(to bottom, #1a1a1a42, #18181883),
    url("../public/book.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hello {
  font-family: "cubano", sans-serif;
}
/* ---------------WHY CARD CSS ------------------ */
.back {
  transform: rotateY(180deg);
    @apply bg-white gap-5 font-medium flex flex-col items-center justify-center text-center;
}
.containers {
  width: 230px;
  height: 370px;
  perspective: 800px;
}

.containers:hover > .card {
  @apply cursor-pointer;
  transform: rotateY(180deg);
}

.card {
  @apply h-full w-full flex flex-col items-center justify-center relative transition-transform;
  transform-style: preserve-3d;
}

.front,
.back {
  @apply h-full w-full shadow-md absolute p-4;
  border-radius: 0.1rem;
  backface-visibility: hidden;
}
.front {
  @apply flex flex-col gap-4 text-center font-medium text-white justify-center items-center ;
}
.back-1 {
  background: linear-gradient(to bottom, #18181873 , #181818b2) , url("../public//book.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.back-2 {
  background: linear-gradient(to bottom, #18181873 , #181818b2) , url("../public//gossip.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.back-3 {
  background: linear-gradient(to bottom, #18181873 , #181818b2) , url("../public//joy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hidden-el {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-50px);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
/*---------------- WHY CARD CSS ENDS -------- */
